.episodesIntroduction {
  border-bottom: 2px solid #11b0c8;

  .wrapper {
    margin-bottom: 210px;

    .title {
      display: flex;
      align-items: center;
      padding: 24px 0;

      h1 {
        color: var(--dark-gray-color);
        font-size: 42px;
        font-weight: 700;
        margin-right: 16px;
      }

      svg {
        cursor: pointer;
      }
    }

    .infos {
      display: flex;
      gap: 24px;
      margin-bottom: 72px;

      .airDate,
      .episode {
        display: flex;
        align-items: center;
        font-size: 24px;
        color: var(--dark-gray-color);

        svg {
          margin-right: 8px;
        }
      }
    }

    .statistic {
      display: flex;
      align-items: center;
      font-size: 24px;
      color: var(--dark-gray-color);

      svg {
        margin-right: 8px;
      }
    }
  }
}

@media (max-width: 500px) {
  .wrapper {
    .infos {
      flex-direction: column;
    }

    .statistic {
      p {
        font-size: 20px;
      }
    }

    .title {
      justify-content: space-between;
      h1 {
        @media (max-width: 500px) {
          font-size: 38px;
        }
      }
    }
  }
}
