.homeIntroduction {
  background-color: var(--bg-color);
  border-bottom: 2px solid var(--line-blue-color);

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .content {
      margin-bottom: 32px;
      .title {
        color: var(--dark-gray-color);
        font-size: 3rem;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 24px;
        max-width: 12ch;

        span {
          color: var(--blue1-color);
          font-weight: 700;
        }
      }

      .subtitle {
        margin-bottom: 64px;
        font-size: 1rem;
        color: var(--dark-gray-color);
      }

      .themes {
        display: flex;
        gap: 8px;
      }

      .phrase {
        display: block;
        color: var(--blue1-color);
        font-size: 16px;
        margin-top: 24px;
      }

      @media (max-width: 768px) {
        margin-bottom: 32px;

        .title {
          font-size: 2rem;
          margin-bottom: 16px;
        }

        .subtitle {
          margin-bottom: 32px;
          max-width: 24ch;
        }

        .phrase {
          max-width: 24ch;
        }
      }
    }

    img {
      width: 50%;
    }

    @media (max-width: 500px) {
      img {
        display: none;
      }
    }
  }
}
