.introduction {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .content {
    .title {
      color: var(--secondary-color);
      font-size: 3rem;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 24px;
      max-width: 12ch;

      span {
        color: var(--primary-color);
        font-weight: 700;
      }
    }

    .subtitle {
      margin-bottom: 64px;
      font-size: 1rem;
      color: var(--secondary-color);
    }

    .themes {
      display: flex;

      .light,
      .dark {
        display: flex;
        background-color: transparent;
        border: none;
        padding: 4px 6px;
        align-items: center;
        border-radius: 32px;
        cursor: pointer;

        p {
          margin-left: 4px;
          font-size: 14px;
          color: var(--secondary-color);
        }
      }

      .light {
        background-color: var(--primary-color);
        margin-left: 8px;

        p {
          color: var(--light-color);
        }
      }
    }

    .phrase {
      display: block;
      color: var(--primary-color);
      font-size: 16px;
      margin-top: 24px;
    }
  }
}
