button.label {
  background-color: var(--bg-color3);

  &:hover {
    p {
      color: var(--white-color);
    }

    svg {
      fill: var(--white-color);
    }
  }
}

a.label,
button.label {
  &:hover {
    background-color: #11b0c8;
    color: #fff;
  }
}

.label {
  display: flex;
  border: none;
  padding: 4px 6px;
  align-items: center;
  border-radius: 32px;
  cursor: pointer;

  p {
    color: var(--dark-gray-color);
    font-size: 14px;
  }

  img,
  svg {
    margin-right: 8px;
  }
}
