a.label {
  background-color: var(--blue1-color);
}

.label {
  display: flex;
  border: none;
  padding: 4px 6px;
  align-items: center;
  border-radius: 32px;
  cursor: pointer;
  background-color: var(--bg-color2);

  p {
    color: var(--white-color);
    font-size: 14px;
  }

  img, svg {
    margin-right: 8px;
  }
}
