body {
  &.dark {
    --bg-color: #000000;
    --bg-color2: #313234;
    --dark-gray-color: #ffffff;
    --black1-color: #1a1a1a;
    --gray-color: #11b0c8;
    --image-color: #313234;
    --line-blue-color: #000000;
    --button-ver-todos: #313234;
    --bg-card-color: #1a1a1a;
    --bg-color3: #313234;
    --bg-color4: #1e1e20;
    --bg-clicked: #313234;
    --bg-saiba-mais: #313234;

    main,
    footer {
      background-color: #1e1e20;
    }
  }
}
