body {
  background-color: var(--white-color);

  --black1-color: #ffffff;
  --dark-gray-color: #313234;
  --blue1-color: #11b0c8;
  --blue2-color: #42b4ca;
  --white-color: #ffffff;
  --gray-color: #313234;
  --bg-color2: #ffffff;
  --bg-color: #ffffff;
  --button-ver-todos: #11b0c8;
  --bg-card-color: #f9f9f9;
  --bg-color3: #f0f0f0;
  --line-blue-color: #11b0c8;
  --bg-clicked: #f1f1f1;
  --bg-saiba-mais: #f1f1f1;
  --placeholder-color: #313234;
  --text-color-light: #333;

  footer {
    background-color: var(--white-color);
  }
}
