body {
  background-color: #ffffff;

  --color1: #f9f9f9;
  --color2: #f1f1f1;
  --color3: #ffffff;
  --color4: #ffffff;
  --color5: #f0f0f0;
  --color6: #f1f1f1;
  --color7: #ffffff;
  --color8: #11b0c8;
  --color10: #11b0c8;
  --color11: #313234;
  --color12: #313234;
  --color13: #11b0c8;
  --color14: #313234;
  --color15: #333;
  --color16: #ffffff;

  footer {
    background-color: #ffffff;
  }
}
