.container {
  display: flex;
  align-items: center;
  margin: 60px 0 28px 0;

  .title1 {
    color: var(--dark-gray-color);
    font-size: 24px;
    font-weight: 700;
    margin-right: 16px;
  }

  a {
    background-color: var(--button-ver-todos);
  }
}
