.titlePrimary {
  display: flex;
  align-items: center;
  margin: 60px 0 28px 0;

  h1 {
    color: var(--dark-gray-color);
    font-size: 24px;
    font-weight: 700;
    margin-right: 16px;

    @media (max-width: 425px) {
      font-size: 20px;
    }
  }

  a {
    background-color: var(--button-ver-todos);

    &:hover {
      background-color: var(--gray-color);
    }
  }
}

.titleSecondary {
  display: flex;
  align-items: center;
  margin: 48px 0 63px 0;

  h1 {
    color: var(--dark-gray-color);
    font-size: 24px;
    font-weight: 700;
    margin-left: 16px;
    max-width: 10ch;
  }

  svg {
    fill: var(--dark-gray-color);
  }
}
