.titlePrimary {
  display: flex;
  align-items: center;
  margin: 3.75rem 0 1.75rem 0;

  h1 {
    color: var(--color11);
    font-size: 1.5rem;
    font-weight: 700;
    margin-right: 1rem;

    @media (max-width: 340px) {
      font-size: 1.25rem;
    }
  }

  a {
    background-color: var(--color10);

    &:hover {
      background-color: var(--color12);
    }
  }
}

.titleSecondary {
  display: flex;
  align-items: center;
  margin: 3rem 0 3.9375rem 0;

  h1 {
    color: var(--color11);
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 1rem;
    max-width: 10ch;
  }

  svg {
    fill: var(--color11);
  }
}
