button.label {
  background-color: var(--bg-color3);

  &:hover {
    p {
      color: var(--white-color);
    }

    svg {
      fill: var(--white-color);
    }
  }
}

a.label,
button.label {
  background-color: var(--bg-saiba-mais);

  &:hover {
    background-color: #11b0c8;
    color: var(--white-color);
  }
}

.label {
  display: flex;
  border: none;
  padding: 0.25rem 0.375rem;
  align-items: center;
  border-radius: 2rem;
  cursor: pointer;

  p {
    color: var(--dark-gray-color);
    font-size: 0.875rem;
  }

  img,
  svg {
    margin-right: 0.5rem;
  }
}
