.cardCharacter {
  background-color: var(--bg-card-color);
  padding: 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;

  &.clicked {
    background-color: var(--bg-clicked);

    a {
      background-color: var(--blue1-color);

      p,
      svg {
        color: var(--white-color);
        fill: var(--white-color);
      }
    }
  }

  .photo {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 16px;
    }
  }

  .infos {
    color: var(--dark-gray-color);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;

    .wrapper {
      display: flex;
      margin: 16px 0;
      justify-content: space-between;

      svg {
        cursor: pointer;
      }

      .name {
        color: var(--dark-gray-color);
        font-size: 16px;
        font-weight: 700;
      }
    }

    .identity {
      .alive,
      .species,
      .planet {
        display: flex;
        align-items: center;
        gap: 4px;
        margin-bottom: 8px;
      }

      .planet {
        margin-bottom: 24px;
      }
    }

    .saibaMais {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      a {
        &:hover {
          p,
          svg {
            color: var(--white-color);
            fill: var(--white-color);
          }
        }
      }
    }
  }
}
