.cardEpisode {
  background-color: var(--bg-card-color);
  padding: 16px;
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  .name {
    display: flex;
   

    p {
      color: #313234;
      color: var(--dark-gray-color);
      font-size: 16px;
      margin-bottom: 8px;
    }

    svg {
      margin-right: 8px;
      fill: var(--dark-gray-color);
      width: 48px;
    }
  }

  .saibaMais {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 100%;

    a {
      svg {
        fill: var(--dark-gray-color);
      }

      &:hover {
        p,
        svg {
          color: var(--white-color);
          fill: var(--white-color);
        }
      }
    }

    svg {
      cursor: pointer;
    }
  }
}
