.cardEpisode {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--bg-card-color);
  padding: 16px;
  border-radius: 16px;

  &.clicked {
    background-color: var(--bg-clicked);

    a {
      background-color: var(--blue1-color);

      p,
      svg {
        color: var(--white-color);
        fill: var(--white-color);
      }
    }
  }

  .name {
    display: flex;

    p {
      color: var(--dark-gray-color);
      font-size: 16px;
      margin-bottom: 8px;
    }

    svg {
      margin-right: 8px;
      width: 48px;
    }
  }

  .saibaMais {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 100%;

    a {
      &:hover {
        p,
        svg {
          color: var(--white-color);
          fill: var(--white-color);
        }
      }
    }

    svg {
      cursor: pointer;
    }
  }
}
