.cardLocation {
  background-color: var(--color1);
  padding: 1.5rem 1rem 1rem;
  border-radius: 1rem;
  position: relative;
  margin-top: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &.clicked {
    background-color: var(--color2);

    a {
      background-color: var(--color8);

      p,
      svg {
        color: #ffffff;
        fill: #ffffff;
      }
    }
  }

  .icon {
    position: absolute;
    top: 0rem;
    /* Centraliza na horizontal e vertical */
    left: 50%;
    transform: translate(-50%, -50%);
  }

  div {
    .type,
    .name {
      text-align: center;
      font-size: 1rem;
    }

    .type {
      color: var(--color11);
    }

    .name {
      color: var(--color8);
    }
  }

  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;

    a {
      margin: 1rem 0 0.875rem 0;

      &:hover {
        p,
        svg {
          color: #ffffff;
          fill: #ffffff;
        }
      }
    }

    svg {
      cursor: pointer;
    }
  }
}
