.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 64px 0;

  button {
    background-color: transparent;
    border: none;

    &:hover {
      path {
        stroke: var(--color8);
      }
    }

    &:disabled {
      cursor: not-allowed;
      path {
        stroke: #a9a9a9;
      }
    }
  }

  .numbers {
    display: flex;
    gap: 16px;
    user-select: none;

    .active {
      border: none;
      background-color: var(--color8);
      color: #ffffff;
    }

    button {
      background-color: transparent;
      border: 1px solid var(--color11);
      color: var(--color11);
      border-radius: 50%;
      width: 47px;
      height: 47px;
      cursor: pointer;
      font-size: 16px;

      &:hover {
        background-color: #11b0c8;
        color: #ffffff;
        border: none;
      }
    }
  }

  .previous,
  .next {
    cursor: pointer;
    path {
      stroke: var(--color11);
    }
  }
}
