.homePreview {
  padding: 70px 0 80px 0;

  .wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 70px;

    .form {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 405px;

      input {
        width: 405px;
        background-color: var(--black1-color);
        padding: 16px;
        border-radius: 32px;
        border: 1px solid #313234;
        font-size: 16px;
        color: var(--dark-gray-color);

        &::placeholder {
          color: var(--placeholder-color);
        }
      }

      .filterEmpty {
        display: flex;
        justify-content: end;
        font-weight: 700;
        letter-spacing: 0.5px;
        gap: 8px;
        color: var(--blue1-color);
        font-size: 14px;
        margin-top: 8px;
      }

      .searchIcon {
        border: none;
        background-color: transparent;
        position: absolute;
        right: 16px;
        top: 8px;
        cursor: pointer;

        svg {
          fill: var(--dark-gray-color);
        }
      }
    }

    @media (max-width: 1200px) {
      justify-content: center;

      .form {
        width: 100%;
        margin-bottom: 12px;
        flex-wrap: wrap;

        input {
          width: 100%;
        }
      }
    }

    .filter {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
      gap: 8px;

      .arrow {
        animation: moveArrow 1.5s linear infinite;
      }

      .title {
        display: flex;
        align-items: center;
        color: var(--dark-gray-color);
        font-size: 16px;
        gap: 8px;
      }

      @media (max-width: 1200px) {
        flex-direction: column;
      }
    }
  }

  .charactersResult {
    color: var(--dark-gray-color);

    .title {
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 16px;
    }
  }
}

@keyframes moveArrow {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(8px);
  }
  100% {
    transform: translateX(0);
  }
}
