.charactersPreview,
.episodesPreview,
.locationsPreview {
  .cards {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);

    p {
      color: var(--dark-gray-color);
    }

    .error {
      font-size: 1.125rem;
      letter-spacing: 0.0625rem;
      color: var(--text-color-light);
    }

    @media (max-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 425px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

.episodesPreview {
  margin-bottom: 3.75rem;
}

.locationsPreview {
  .cards {
    grid-template-columns: repeat(6, 1fr);

    @media (max-width: 1200px) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 425px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
