* {
  font-family: var(--main-font);
  font-weight: 400;
}

body {
  background-color: var(--white-color);

  &.dark {
    --bg-color: #000000;
    --bg-color2: #313234;
    --dark-gray-color: #ffffff;
    --black1-color: #1a1a1a;
    --gray-color: #e4f4f480;
    --image-color: #313234;
    --line-blue-color: #000000;
    --button-ver-todos: #11b0c8;

    main {
      background-color: #1e1e20;
    }
  }
}

main {
  height: 2000px;
}

.container {
  width: 70vw;
  margin: 0 auto;
}

.active {
  background-color: var(--blue1-color) !important;
  color: var(--dark-gray-color);

  p {
    color: var(--white-color) !important;
  }
}
