* {
  font-family: var(--main-font);
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh; /* Pelo menos 100% da altura da viewport */

}

.container {
  width: 80vw;
  margin: 0 auto;

  @media (min-width: 1440px) {
    width: 70vw;
  }
}

.active {
  background-color: var(--blue1-color) !important;
  color: var(--dark-gray-color);

  svg {
    fill: var(--white-color) !important;
  }

  p {
    color: var(--white-color) !important;
  }
}

.loading {
  color: var(--dark-gray-color);
}
