* {
  font-family: var(--main-font);
  font-weight: 400;
}

.container {
  width: 80vw;
  margin: 0 auto;

  @media (min-width: 1440px) {
    width: 70vw;
  }
}

.active {
  background-color: var(--color8) !important;

  svg {
    fill: #ffffff !important;
  }

  p {
    color: #ffffff !important;
  }
}

.animeOpacity {
  animation: fadeInOut 0.5s ease-in-out;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
