.favorite {
  .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;

    .empty {
      height: 100%;
      grid-column: 1 / -1;
      
      font-weight: 600;
      color: var(--dark-gray-color);
      margin-bottom: 28px;
    }

    @media (max-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 425px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .locations {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 16px;
    padding-top: 4px;

    @media (max-width: 1200px) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 600px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
