.footer {
  .top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    user-select: none;

    @media (max-width: 500px) {
      flex-direction: column;
      align-items: center;
      gap: 24px;
    }

    .backTop {
      display: flex;
      align-items: center;

      p {
        color: var(--dark-gray-color);
        font-size: 16px;

        &:hover {
          text-decoration: underline;
          cursor: pointer;

          + button {
            animation: none;
          }
        }
      }

      button {
        margin-left: 8px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        animation: floating 2s infinite;

        &:hover {
          animation: none;
        }
      }
    }
  }

  .clearData {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 56px 0 24px 0;

    .options {
      display: flex;
      gap: 16px;

      @media (max-width: 330px) {
        text-align: center;
      }
    }

    h1 {
      font-size: 16px;
      color: var(--dark-gray-color);
    }

    p {
      font-size: 14px;
      color: var(--dark-gray-color);

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }

    @media (max-width: 550px) {
      margin-top: 40px;
      flex-direction: column;
      align-items: center;
      gap: 18px;
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0 64px 0;
    border-top: 2px solid #d9d9d9;

    .year {
      color: var(--dark-gray-color);
      font-size: 14px;

      @media (max-width: 750px) {
        justify-self: center;
      }
    }

    @media (max-width: 750px) {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;
      justify-items: center;
    }

    .createdBy {
      display: flex;
      gap: 10px;

      @media (max-width: 750px) {
        display: grid;
        grid-template-columns: 1fr;
      }

      .creator {
        display: flex;
        align-items: center;

        .paragraph {
          color: var(--dark-gray-color);
          font-size: 14px;
          margin-left: 5px;

          a {
            color: #11b0c8;
            font-weight: 700;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(8px);
  }

  100% {
    transform: translateY(0);
  }
}
